/** 
  * General 
  * ============================
  */
.clients {
  background-color: #f9f9f9;

  .text-heading {
    font-weight: 400;
    color: #1d1d24bf;
  }

  $this: &;

  &__link {
    display: inline-block;

    #{$this}__img {
      display: block;
      width: 60%;
      opacity: 0.8;
    }
  }
}
