/** 
  * Header
  * ============================
  */
.header {
  padding: 0 2rem;
  position: absolute;
  z-index: 5;
  width: 100%;

  &-logo {
    max-height: 6rem;
  }

  .nav {
    &bar {
      padding: 3rem 2.5rem;

      &-collapse {
        justify-content: flex-end;
      }

      &-nav {
        justify-content: center;
        gap: 2rem;
      }
    }

    &-item {
      display: inline-block;

      &:hover {
        .dropdown-menu {
          opacity: 1;
          visibility: visible;
        }

        .nav-link {
          color: $primary-color !important;
        }
      }
    }

    &-link {
      padding: 2rem 0;
      font: {
        size: 1.6rem;
        weight: 500;
      }
      color: #fff !important;

      transition: color 0.5s;
    }
  }

  .dropdown {
    &-menu {
      display: block;
      padding: 1.2rem 1rem;
      min-width: 24rem;

      position: absolute;
      top: 100%;
      left: 0;
      opacity: 0;
      visibility: hidden;

      background-color: #fff;
      box-shadow: 0 0 3.5rem rgba(0, 0, 0, 0.1);
      border: none;
      border-radius: 0.4rem;

      transition: all 0.7s;
    }

    &-item {
      display: block;
      padding: 0.5rem 2rem;
      border-radius: 0.3rem;

      font-size: 1.4rem;
      font-weight: 500;
      color: #1f1f25;

      transition: all 0.7s;

      &:hover {
        color: $primary-color;
        background: rgba(249, 0, 77, 0.07);
      }
    }

    &-toggle::after {
      display: none;
    }
  }

  .btn-custom {
    margin-left: 5rem;
  }

  .btn-toggle {
    display: none;
    padding: 0.8rem;
    border: 0.2rem solid transparent;
    color: #fff;
    font-size: 2.5rem;

    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
  }
}

.mobile-modal {
  display: none;
  padding: 2rem;

  background-color: #fff;
  width: 32rem;
  height: 100vh;
  overflow-y: auto;

  position: fixed;
  z-index: 999;

  $this: &;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 4rem;

    #{$this}__logo-link {
      display: inline-block;
    }

    #{$this}__logo {
      max-height: 5.6rem;
    }

    #{$this}__close {
      font-size: 2.5rem;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;

    &-item {
      padding: 1rem 0;
      border-bottom: 0.1rem solid #e6e6e6;

      &:last-child {
        border: none;
      }

      > a {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font : {
          size: 1.6rem;
          weight: 500;
        }
        color: #1f1f25;
      }

      i {
        font-size: 2rem;
      }
    }
  }

  &__subnav {
    display: none;
    padding: 1.2rem 0 0 3rem;

    &-item {
      margin-bottom: 0.5rem;
    }

    a {
      font : {
        size: 1.4rem;
        weight: 500;
      }
      color: #1f1f25;
    }
  }
}
