/** 
  * News Section 
  * ============================
  */
.news {
  padding-bottom: 8rem;

  $this: &;

  &-item {
    display: block;
    overflow: hidden;
    margin-bottom: 4rem;
    border-radius: 1rem;

    position: relative;

    transition: transform 0.3s, box-shadow 0.3s;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(#0f0f0f00, #0f0f0fbf 100%);

      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &:after {
      content: "";
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
      background: $card-hover-gradient;
      opacity: 0;
      z-index: 1;

      transition: opacity 1s;
    }

    #{$this}__img {
      width: 100%;

      transition: transform 1s;
    }

    #{$this}-text {
      padding: 0 3rem;
      width: 100%;

      position: absolute;
      bottom: 1.5rem;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 2;

      transition: transform 0.5s;

      #{$this}__sub-title {
        margin-bottom: 1.6rem;

        font: {
          size: 1.6rem;
          weight: 300;
        }
        color: #ffffffb3;
        letter-spacing: 0.05rem;
      }

      #{$this}__title {
        margin-bottom: 1.6rem;

        font: {
          size: 2.4rem;
          weight: 500;
        }
        line-height: 3.6rem;
        color: #fff;
      }
    }

    &:hover {
      transform: translateY(-1rem);
      box-shadow: 0 2.5rem 5.5rem rgba(253, 71, 102, 0.22);

      &::after {
        opacity: 1;
      }

      #{$this}__img {
        transform: scale(1.1);
      }

      #{$this}-text {
        transform: translate(-50%, -6rem);
      }

      .btn {
        opacity: 1;
        transform: translateY(-3rem);
      }
    }
  }

  .btn {
    display: inline-block;
    padding: 0.7rem 2.3rem;

    position: absolute;
    bottom: 0;
    left: 3rem;
    z-index: 2;
    opacity: 0;

    border: 0.2rem solid hsla(0, 0%, 100%, 0.2);
    border-radius: 0.4rem;

    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 0.02rem;
    text-transform: uppercase;

    transition: all 0.5s;

    &:hover {
      background-color: $primary-color;
      border: 0.2rem solid $primary-color;

      transform: translateY(-3.5rem);
    }

    &-custom {
      margin-top: 2rem;
    }
  }
}
