/** 
  * General 
  * ============================
  */
html {
  font-size: 62.5%;
}

body {
  font: 1.8rem $primary-font;
  line-height: 1.67;

  // Scrollbar custom
  &::-webkit-scrollbar {
    width: 1rem;

    &-thumb {
      border-radius: 0.8rem;
      background-color: #1c99fe;

      &:hover {
        background-color: #0084c2;
      }
    }
  }
}

a {
  &:hover,
  &:active {
    text-decoration: none;
  }
}

p {
  margin: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1260px;
  }
}

.section-padding {
  padding: 12rem 0;
}

.section-headings {
  margin-bottom: 6rem;

  .subheading {
    display: inline-block;
    margin-bottom: 1.2rem;

    font: {
      size: 1.6rem;
      weight: 600;
    }
    letter-spacing: 0.05rem;
    line-height: 1.8rem;

    background: linear-gradient(
      to right,
      #1c99fe 0%,
      #7644ff 50%,
      #fd4766 100%
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  .secondary-heading {
    margin-bottom: 2rem;
    font: {
      size: 5rem;
      weight: 600;
    }
    line-height: 6.2rem;
  }

  .text-heading {
    font: {
      size: 1.8rem;
      weight: 300;
    }
    line-height: 3rem;
    color: #717173;
  }
}

// Custom button
.btn {
  &-custom {
    padding: 1.6rem 4rem;
    background-color: transparent;

    font: {
      size: 1.6rem;
      weight: 500;
    }
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.2rem;

    border: 0.2rem solid #867c76;
    border-radius: 99.9rem;

    &--primary {
      background-color: $primary-color;
      border: 0.2rem solid $primary-color;

      transition: all 0.7s;

      &:hover {
        background-color: transparent;
        color: $primary-color;
      }
    }
  }
}
