/** 
  * General 
  * ============================
  */
html {
  font-size: 62.5%;
}

body {
  font: 1.8rem $primary-font;
  line-height: 1.67;
}

a {
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.padding-section {
  padding: 12rem 0;
}
