/** 
  * Media Queries 
  * ============================
  */

// 1200px;
@media (min-width: $bp-xl) {
  .container {
    max-width: 1260px;
  }

  .testimonials {
    $this: &;

    .nav {
      padding: 0 4rem;
    }
  }
}

@media (max-width: $bp-xl) {
  .about {
    $this: &;

    .nav {
      &-link {
        padding: 1.2rem 2rem;
        font-size: 1.4rem;
      }
    }
  }
}

// from 992px to 1199px;
@media (min-width: 992px) and (max-width: 1199px) {
  .testimonials {
    $this: &;

    .tab-pane &__description {
      font-size: 2.4rem;
      line-height: 4.4rem;
    }
  }

  .news {
    $this: &;

    &__title {
      font-size: 2rem !important;
      line-height: 2.8rem !important;
    }
  }
}

// 992px
@media (max-width: $bp-lg) {
  .section-padding {
    padding: 8rem 0;
  }

  .section-headings {
    .secondary-heading {
      font-size: 4rem;
    }
  }

  .about {
    &-img {
      margin-bottom: 4rem;
    }

    &-info {
      padding: 0 1.5rem;
    }
  }

  .testimonials {
    $this: &;

    .tab-content {
      margin-bottom: 4rem;
    }
  }

  .footer {
    &-header {
      gap: 0;
      align-items: center;

      > div:last-child {
        text-align: right;
      }
    }
  }
}

// from 768px to 991px;
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials {
    $this: &;

    .tab-pane &__description {
      font-size: 2.8rem;
      line-height: 4.8rem;
    }
  }
}

// 768px
@media (max-width: $bp-md) {
  .section-headings {
    .secondary-heading {
      font-size: 3.2rem;
      line-height: 4.3rem;
    }

    .text-heading {
      font-size: 1.6rem;
      line-height: 2.8rem;

      br {
        display: none;
      }
    }
  }

  .about {
    $this: &;

    .nav {
      &-pills {
        border-radius: 0;
        border: {
          top: none;
          left: none;
          right: none;
        }
      }

      &-link {
        padding: 1.2rem 2.5rem;
        font-size: 1.4rem;
      }
    }

    .tab-pane p {
      font-size: 1.6rem;
      line-height: 2.8rem;
    }
  }

  .testimonials {
    $this: &;

    .tab-pane {
      &::before {
        left: 50%;
        transform: translateX(-50%);
      }

      #{$this}__description {
        font: {
          size: 2rem;
          weight: 400;
        }
        line-height: 3.7rem;
      }
    }

    &-info {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  .news {
    $this: &;

    &.section-padding {
      padding-top: 6rem;
    }

    &__title {
      font-size: 2.2rem !important;
      line-height: 3.3rem !important;
    }
  }

  .clients {
    $this: &;

    &__link {
      border: transparent;

      #{$this}__img {
        max-width: 10rem;
        max-height: 11rem;
      }
    }
  }
}

// 576px
@media (max-width: $bp-sm) {
  .testimonials {
    $this: &;

    .tab-pane &__description {
      font-size: 1.8rem !important;
      line-height: 3.4rem !important;
    }
  }

  .footer {
    &-header {
      gap: 5rem;
    }
  }
}
