$primary-font: "Poppins", sans-serif;
$primary-heaing-font: "Montserrat", sans-serif;

$primary-color: #fd4766;

$card-hover-gradient: linear-gradient(transparent 15%, $primary-color);
$primary-gradient: linear-gradient(
  to right,
  #1c99fe 0%,
  #7644ff 50%,
  #fd4766 100%
);

// Responsive break points
$bp-xl: 1200px;
$bp-lg: 992px;
$bp-md: 768px;
$bp-sm: 576px;
