/** 
  * Reset
  * ============================
  */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/** 
  * General 
  * ============================
  */
html {
  font-size: 62.5%;
}

body {
  font: 1.8rem "Poppins", sans-serif;
  line-height: 1.67;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0.8rem;
  background-color: #1c99fe;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #0084c2;
}

ul {
  list-style: none;
  margin: 0;
}

a:hover, a:active {
  text-decoration: none;
}

p {
  margin: 0;
}

.section-padding {
  padding: 12rem 0;
}

.section-headings {
  margin-bottom: 6rem;
}

.section-headings .subheading {
  display: inline-block;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  line-height: 1.8rem;
  background: -webkit-gradient(linear, left top, right top, from(#1c99fe), color-stop(50%, #7644ff), to(#fd4766));
  background: linear-gradient(to right, #1c99fe 0%, #7644ff 50%, #fd4766 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.section-headings .secondary-heading {
  margin-bottom: 2rem;
  font-size: 5rem;
  font-weight: 600;
  line-height: 6.2rem;
}

.section-headings .text-heading {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
  color: #717173;
}

.btn-custom {
  padding: 1.6rem 4rem;
  background-color: transparent;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.2rem;
  border: 0.2rem solid rgba(255, 255, 255, 0.2);
  border-radius: 99.9rem;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.btn-custom:hover {
  background-color: #fd4766;
  border: 0.2rem solid #fd4766;
  color: #fff;
}

.btn-custom--primary {
  background-color: #fd4766;
  border: 0.2rem solid #fd4766;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.btn-custom--primary:hover {
  background-color: transparent;
  color: #fd4766;
}

/** 
  * Media Queries 
  * ============================
  */
@media (min-width: 1200px) {
  .container {
    max-width: 1260px;
  }
}

@media (min-width: 576px) {
  .footer-header {
    gap: 5rem;
  }
}

@media (min-width: 992px) {
  .footer-header {
    gap: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-header > div:last-child {
    text-align: right;
  }
}

/** 
  * Services Section 
  * ============================
  */
.services .card {
  margin-bottom: 3rem;
  background: #f6f6f6;
  border: none;
  border-radius: 1rem;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.services .card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.services .card-body {
  padding: 4rem 3rem;
}

.services .card-icon {
  margin-bottom: 2.3rem;
  stroke-width: 1;
  width: 47px;
  height: 47px;
}

.services .card-icon--1 {
  color: #fd4766;
}

.services .card-icon--2 {
  color: #337dff;
}

.services .card-icon--3 {
  color: #12d8df;
}

.services .card-icon--4 {
  color: #59c98d;
}

.services .card-icon--5 {
  color: #6f41f6;
}

.services .card-icon--6 {
  color: #357ff6;
}

.services .card-title {
  margin-bottom: 1.9rem;
  font-size: 2rem;
  font-weight: 600;
  color: #1f1f25;
}

.services .card-text {
  color: #1d1d24bf;
}

/** 
  * Projects Section 
  * ============================
  */
.projects {
  background: url("../images/bg-image-3.jpg") center/cover no-repeat;
}

.projects-item {
  display: block;
  overflow: hidden;
  margin-bottom: 4rem;
  border-radius: 1rem;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
}

.projects-item::before {
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f0f0f00), to(#0f0f0fbf));
  background: linear-gradient(#0f0f0f00, #0f0f0fbf 100%);
  position: absolute;
  top: 0;
  left: 0;
}

.projects-item:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, transparent), to(#fd4766));
  background: linear-gradient(transparent 15%, #fd4766);
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.projects-item .projects__img {
  width: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.projects-item .projects-text {
  padding: 0 3rem;
  width: 100%;
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.projects-item .projects-text .projects__sub-title {
  margin-bottom: 1.8rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #ffffffb3;
  letter-spacing: 0.05rem;
}

.projects-item .projects-text .projects__title {
  margin-bottom: 1.8rem;
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
}

.projects-item .projects-text .projects__description {
  color: #ffffffb3;
  opacity: 0;
  -webkit-transition: opacity 0.7s;
  transition: opacity 0.7s;
}

.projects-item:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 0 2.5rem 5.5rem rgba(253, 71, 102, 0.22);
          box-shadow: 0 2.5rem 5.5rem rgba(253, 71, 102, 0.22);
}

.projects-item:hover::after {
  opacity: 1;
}

.projects-item:hover .projects__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projects-item:hover .projects-text {
  -webkit-transform: translate(-50%, -60px);
          transform: translate(-50%, -60px);
  z-index: 1;
}

.projects-item:hover .projects__description {
  opacity: 1;
}

.projects .btn {
  margin-top: 2rem;
}

/** 
  * General 
  * ============================
  */
.clients {
  background-color: #f9f9f9;
  overflow: hidden;
}

.clients .text-heading {
  font-weight: 400;
  color: #1d1d24bf;
}

.clients .row {
  padding: 0 1.5rem;
}

.clients .col-4 {
  padding: 0;
}

.clients__link {
  height: 21.4rem;
  border: 0.1rem solid #0000000d;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.clients__link .clients__img {
  max-width: 15rem;
  max-height: 11rem;
  opacity: 0.8;
}

.clients__link:hover {
  background-color: #fd4766;
  border-radius: 0.6rem;
  border: 0.1rem solid #fd4766;
  z-index: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.clients__link:hover .clients__img {
  opacity: 1;
}

/** 
  * Footer
  * ============================
  */
.footer {
  background-color: #010001;
}

.footer-header {
  margin: 0;
  padding: 7rem 0;
  border-bottom: 0.15rem solid rgba(255, 255, 255, 0.2);
}

.footer-header > div {
  padding: 0;
}

.footer-header .footer__title {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.4;
  color: #fff;
}

.footer .btn-custom {
  padding: 2.6rem 6rem;
}

.footer-body {
  padding: 7rem 0;
  color: #757575;
}

.footer-logo-link {
  display: inline-block;
}

.footer-logo-link .footer-logo {
  max-height: 6rem;
}

.footer-logo-link + p {
  font-size: 1.6rem;
  color: #757575;
  line-height: 3rem;
  letter-spacing: 0.1rem;
}

.footer-subheader {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}

.footer-subheader + ul {
  gap: 0.5rem;
}

.footer-subheader + ul li {
  font-size: 1.6rem;
  color: #757575;
}

.footer-subheader + ul .footer-link {
  display: inline-block;
  padding: 0.5rem 0;
  color: #757575;
  font-size: 1.6rem;
  position: relative;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.footer-subheader + ul .footer-link::after {
  content: "";
  height: 0.1rem;
  width: 0;
  background: -webkit-gradient(linear, left top, right top, from(#1c99fe), color-stop(50%, #7644ff), to(#fd4766));
  background: linear-gradient(to right, #1c99fe 0%, #7644ff 50%, #fd4766 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.footer-subheader + ul .footer-link:hover {
  color: #fd4766;
}

.footer-subheader + ul .footer-link:hover::after {
  width: 100%;
}

.footer-media {
  margin-top: 2rem;
}

.footer-media.d-flex {
  gap: 3rem;
}

.footer-media__link {
  display: inline-block;
  font-size: 1.6rem;
  color: #c6c9d8bf;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-media__link:hover {
  color: #fff;
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}
/*# sourceMappingURL=main.css.map */